@page "/Corridas"
@using AppRedRidersBlazor.Models;
@inject PedidoDAO pedidoDAO;


<PageTitle>Corridas</PageTitle>

<main id="container-entregador">
    <div id="sidebar-entregador"></div>
    <!-- Outlet -->
    <div id="corridas" class="tab-content" style="display: flex">

        

        <h2>Corridas</h2>

        


        <p id="texto">Aqui estão as entregas solicitadas pelos restaurantes:</p>
        @foreach (var pedido in listaPedido)
        {
            <ul class="corrida-lista">

                <li>
                    <h3>Pedido #101</h3>
                    <p><strong>Nome Restaurante:</strong> @pedido.nomeRestaurante</p>
                    <p><strong>Preço pela Entrega:</strong> @pedido.PrecoPelaEntrega</p>
                    <p><strong>Onde Entregar:</strong> @pedido.OndeEntregar</p>
                    <p><strong>Onde Buscar:</strong> @pedido.OndeBuscar</p>
                    <p><strong>Distância:</strong> @pedido.distancia</p>
                    <p><strong>Quantidade:</strong> @pedido.Quantidade</p>
                    <p><strong>Descrição:</strong> @pedido.Descricao</p>
                    <p><strong>Nome cliente:</strong> @pedido.Cliente</p>
                    <p><strong>Status:</strong> @pedido.Status</p>
                    <button class="btn aceitar">Aceitar Corrida</button>
                </li>

            </ul>
        }
   
    </div>
   
   
</main>
@code{
    private List<Pedido> listaPedido = new();

   

    

    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaPedido = pedidoDAO.ListarTodos();
       
    }

    


   
   

}


