@page "/Veiculos"

@using AppRedRidersBlazor.Models;
@inject VeiculoDAO veiculoDAO

<PageTitle>Veiculos</PageTitle>

<main id="container-entregador">
    <div id="sidebar-entregador"></div>
    <!-- Outlet -->
    <section id="veiculos-section">
        <!-- Botão para cadastrar novo veículo -->
        <div id="novo-veiculo-container">
            <a id="btn-add-veiculo" href="CadastrarVeiculo">Cadastrar Novo Veículo</a>
        </div>

        <!-- Lista de veículos -->
        <section id="lista-veiculos">
            <h2>Meus Veículos</h2>

            <!-- Card de veículo -->
            @{

            
             @foreach (var veiculo in listaVeiculos)
             {
                 <div class="veiculo-card" id="veiculo-1">
                    <img src=@veiculo.rotaimg
                         alt="Foto do veículo"
                         class="veiculo-foto" />
                    <div class="veiculo-info">

                        <p><strong>NOME:</strong> @veiculo.nome</p>
                        <p><strong>MARCA:</strong> @veiculo.marca</p>
                        <p><strong>MODELO</strong> @veiculo.modelo</p>
                        <p><strong>PLACA:</strong> @veiculo.placa</p>
                        <p><strong>COR:</strong> @veiculo.cor</p>


                    </div>
                </div>
             }
            }
        </section>
    </section>
</main>
@code {
    private List<Veiculo> listaVeiculos = new();


    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaVeiculos = veiculoDAO.ListarTodos();
    }

}

