@page "/clientes"
@using AppRedRidersBlazor.Models;
@inject ClienteDAO clienteDAO;

<PageTitle>Clientes</PageTitle>

@* <a id="btn-add-veiculo" href="CadastrarCliente">Novo Cliente</a> *@

<main>
    <div class="container-restaurante">
        <div id="sidebar-entregador"></div>
        <div class="container-main-restaurante">
            <!-- outlet -->
            <section id="lista-corridas">
                <h2>Todos os Cliente Cadastrados</h2>

                <a id="btn-add-veiculo" href="CadastrarCliente">Novo Cliente</a>
                <br />
                <br />

                <table id="tabela-historico">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Endereço</th>
                            <th>Distância</th>
                            <th>Forma de Pagamento</th>
                            <th>Forma de Contado</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            @foreach (var cliente in listaCliente)
                            {
                                <tr>
                                    <td>@cliente.nome</td>
                                    <td>@cliente.endereco</td>
                                    <td>@cliente.distanciaMoradia</td>
                                    <td>@cliente.FormaDePagamento</td>
                                    <td>@cliente.FormaDeContato</td>
                                    <td><a id="btn-add-veiculo" href="CadastrarCliente">Editar </a></td>
                                    <td><a id="btn-add-veiculo"> Excluir </a></td>
                                </tr>
                            }
                        }
                      
                        
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</main>
@code{
    private List<Cliente> listaCliente = new();


    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaCliente = clienteDAO.ListarTodos();
    }
}
